body{
    display:grid;
    grid-template-rows: auto 1fr auto;
    min-height:100vh;
    margin:0;
}
.btns_div{
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-end;
}
.btn{
    background-color:rgb(11,147,11);
    margin:5px;
    border-radius:5px;
    font: bold 19px arial;
    width:100px;
    height:30px;
    cursor:pointer;
}
.btn:hover{
    background-color:rgb(8,177,8);
}
.btn:active{
    background-color:rgb(8,207,8);
}
.all{
    /*background:linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),
    url("Images/grain.png") no-repeat center center/cover;*/
    display:grid;
    min-height:100vh;
    margin:0;
}
h1{
    color:rgb(3,48,3);
    font:bold 50px verdana;
    text-align:center;
}
.container{
    background-color:white;
    display:flex;
    flex-wrap: wrap;
    padding:1%;
    margin: 2%;
    text-align: center;
    align-items: center;
    justify-content: center;
    /*overflow: hidden;*/
}
.grains{
    background-color:rgb(219,219,219);
    padding:1%;
    margin:1%;
    flex:1;
    /*max-width:85%;*/
    text-align:center;
    box-sizing: border-box;
    justify-content: center;
    /*align-items: center;*/
}
/*.image{
    margin:2%;
    padding:1%;
    width:70%;
    height:250px;
}*/
footer{
    background-color:rgb(63, 250, 63);
    text-align:center;
}
.logo img{
    width:20px;
    height:20px;
    cursor:pointer;
}