body{
    display:grid;
    grid-template-rows: auto 1fr auto;
    min-height:100vh;
    margin:0;
}
.btns_div{
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-end;
}
.btn{
    background-color:rgb(11,147,11);
    margin:5px;
    border-radius:5px;
    font:bold 19px arial;
    width:100px;
    height:30px;
    cursor:pointer;
}
.btn:hover{
    background-color:rgb(8,177,8);
}
.btn:active{
    background-color:rgb(8,207,8);
}
.all{
    background:linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),
    url("Images/vegetable.png") no-repeat center center/cover;
    display:grid;
    min-height:100vh;/*this line of property make the footer to stick to the bottom by giving all other space to the header and main part*/
    margin:0;
}
h1{
    color:rgb(3,48,3);
    text-align:center;
    font:bold 50px verdana;
}
.container{
    display:flex;
    flex-wrap: wrap;
    background-color:white;
    padding:20px;
    text-align:center;
    margin:10px;
}
.vegetable{
    background-color:rgb(219,219,219);
    padding:10px;
    margin:10px;
    flex:1;
    width:300%;
}
footer{
    text-align:center;
    background-color:rgb(63, 250, 63)
}
.logo img{
    width:20px;
    height:20px;
    cursor:pointer;
}